*{
   margin:0;
   padding:0;
   font-family:sans-serif;
}
.menu{
	display:flex;
          
	 
  }
.menu div{
   transition:2s;
   flex-basis:20%;
 }
  .menu div img{
     width:70%;
     height:300px;
  }
.menu div:hover{
     flex-basis:70%;
  }
  
span{
color:black;
}
.container{
   width:100%;
   height:1000vh;
   background:#42455a;
}
.text{
color:black;
}
#afp{
      margin-left:20px;
      color:rgb(100,200,250);
     }

.banner{
   width:80%;
   height:70vh;
   top:50%;
   position:absolute;
   left:130px;
   color:#fff;
}

banner2{
   width:80%;
   height:70vh;
   top:200%;
   position:absolute;
   left:130px;
   color:#fff;
}


.subdiv1{
     width:50%;
    float:left;
}
.subdiv1 h3{
  position:relative;
 margin-left:40px;
 width:40%;
}
subdiv2{
    width:40%;
    float:right;
}
.div1{
     width:50%;
    float:left;
}
.div1 h3{
  position:relative;
 margin-left:40px;
 width:40%;
}
.div2{
    width:40%;
    float:right;
}


 
